<style>
  .container {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(38, 38, 38);
    background: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 30px);
    flex-direction: column;
    padding: 20px 10px;
  }

  a {
    color: rgb(34, 100, 242);
  }

  span {
    display: block;
  }

  img {
    margin-bottom: 30px;
  }
</style>


<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png">

  <span>Oi, {{name}}</span>
  <br/>
  <span>Você solicitou alteração de senha.</span>
  <br/>

  <span>Para realizar a troca, clique no link <a href={{link}} target="_blank">{{link}}</a></span>
  <br/>

  <span>Caso não tenha sido você que solucitou a alteração da senha, basta ignorar este e-amil.</span>
  <br/>

  <strong>Obrigado!</strong>
  <h3>Equipe | <strong>Rentx</strong></h3>
</div>
